include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero
          .container.hero__container
            header.header.hero__header
              .hero__logo
                a(href="index.html").logo BA
              .hero__menu
                nav.nav
                - var mainMenu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                ul.nav__list
                  each item in mainMenu
                    li.nav__item
                      a(href="").nav__link #{item}
              .hero__links
                - var socialsIcons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in socialsIcons
                    li.socials__item
                      +icon(`${item}`, 'socials__icon')
            .hero__content
              .user-info
                h1.user-info__desc Личный сайт веб разработчика
                .user-info__username Владимир Астаханов
            .hero__btns
              a(href="#").scroll-down-btn
                .scroll-down-btn__text Скролл
                +icon('scroll', 'scroll-down-btn__icon')

        section.about
          .container
            .about__columns
              .about__left
                .user
                  .avatar.user__avatar
                    +image("content/user.jpg", "avatar__pic")
                  ul.user__desc
                    -
                      var items = [
                        ['Проживаю', 'Новосибирск'],
                        ['Возвраст', '27 лет'],
                        ['Родился', '7 августа 1999']
                      ]
                    each item in items
                      li.user__desc-item
                        .user__key #{item[0]}
                        .user__value #{item[1]}
              .about__right
                .about__prolog
                  p Привет, меня зовут
                .about__user-name
                  p Владимир Астаханов
                .about__text
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
      .triangles
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0 0, 0 100, 1000 100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0 100, 1000 100, 1000 0")

      section.values
        .container.values__container
          .values__wrapper
            .values__title
              .values__title-container
                h2.section__title.values__title-text Чем я могу быть вам полезен?
                .values__title-desc
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            .values__widget
              .values__widget-container
                ul.user-skills
                  -
                    var skills = [
                      ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'JQuery и Vue.js']],
                      ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']]
                    ]
                  each item in skills
                    li.user-skills__item.skills-row
                      h3.skills-row__title #{item[0]}
                      ul.skills-row__list
                        each skill, index in item[1]
                          li.skills-row__item
                            .skill
                              svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                                circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                                linear-gradient()
                              .skill__title #{skill}

      section.works
        .container
          .section__title.works__title Мои работы
          .works__content
            .works__left
              .slider
                +image('content/slider-fillpic.jpg', 'slider__fillpic')
                .slider__preview
                  ul.previews
                    - for (var i = 1; i < 5; i++)
                      li.previews__item
                        +image(`content/slider-preview-${i}.jpg`, 'previews__pic')
                .slider__buttons
                  .slider-button
                    button.slider-button__item.slider-button__item--slide--prev
                      +icon('arrow-down', 'slider-button__icon slider-button__icon--prev')
                    button.slider-button__item.slider-button__item--slide--next
                      +icon('arrow-down', 'slider-button__icon slider-button__icon--next')
            .works__right
              .works__number 4
              .works__tags
                - var tags = ['html', 'css', 'javascript']
                  ul.tags
                    each item in tags
                      li.tags__item
                        a.tags__link #{item}
              .works__text
                h3.works__desc-title Сайт школы образования
                article.works__text-content
                 p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.iconed-link
                  +icon('link', 'iconed-link__icon')
                  .iconed-link__text Посмотреть сайт

      .triangles.triangles--work
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0 0, 1000 0, 1000 100")
        svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0 0, 0 100, 1000 0")

      .call-section
        section.review
          .container
            .review-slider
              .review-slider__header
                .review-slider__title Что обо мне говорят
                .review-slider__controls
                  .review-button
                    button.review-button__item.review-button__item-prev
                    button.review-button__item.review-button__item-next
              ul.review-slider__list
                - for (var i = 1; i < 3; i++)
                    li.review-slider__item.review-item
                      .review-item__image
                        +icon('quote', 'review-item__icon')
                      .review-item__content
                        .review-item__text
                          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .review-item__person
                          .person
                            .avatar.person__avatar
                              +image("content/user.jpg", "avatar__pic")
                            .person__text
                              .person__username Ковальчук Дмитрий
                              .person__desc Основатель Loftschool
        
        section.form-section
          .container
            h2.section__title.form-section__title Связаться со мной
            .form
              form.form__elem
                .form__row
                  label.form__col
                    .form__col-title Введите ваше имя
                    .form__input-wrap
                      +icon('user', 'form__icon')
                      input(type="text" placeholder="Ковальчук Дмитрий").form__input
                  label.form__col
                    .form__col-title Введите ваш email
                    .form__input-wrap
                      +icon('envelope', 'form__icon')
                      input(type="text" placeholder="Ковальчук Дмитрий").form__input
                .form__row
                  label.form__col
                    .form__col-title Сообщение к письму
                    .form__input-wrap
                      +icon('envelope', 'form__icon')
                      textarea(type="text" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form__input.form__input--textarea
                .form__row.form__row--buttons
                  button(type="submit").form-button Отправить

      footer.footer
        .container.footer__container
          .footer__copy
            .footer__inc © 2019
            .footer__user
              .user-info.user-info--footer
                .user-info__username Владимир Астаханов
                h1.user-info__desc Личный сайт веб разработчика
          .footer__content
            .footer__menu
              .nav.nav--footer
                ul.nav__list
                  each item in mainMenu
                    li.nav__item
                      a(href="").nav__link #{item}
            .footer__bottom
              .footer__bottom-block
                .footer__bottom-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__bottom-socials
                  ul.socials.socials--footer
                    each item, index in socialsIcons
                      li.socials__item
                        +icon(`${item}`, 'socials__icon')
              .footer__bottom-block
                .footer__bottom-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__bottom-autor Martin Golding
